/* Imports */
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* GENERAL */
/* Variable declaration on root for themes */
:root {
    --main-blue: rgb(29, 99, 251);
    --second-blue: rgb(34, 86, 197);
    --grey: #262626;

    --error: rgb(231, 80, 80);
    --grey-light : rgba(168, 187, 193, 0.3);
    --grey-medium : rgba(157, 160, 162, 0.6);
    --grey-back: rgba(150, 150, 150, 0.3)
}

:root.light {
    --main:rgb(179, 159, 33);
    --secondary: rgb(202, 188, 100);
    --light: rgb(225, 217, 166);

    --main-txt: rgb(3, 12, 140);
    --secondary-txt: rgb(3, 12, 140);
    --light-txt: rgb(3, 12, 140);
}

:root.dark {
    --main: rgb(37, 54, 87);
    --secondary: rgb(48, 67, 105);
    --light: rgb(55, 76, 120);

    --main-txt: rgb(33, 179, 159);
    --secondary-txt: rgb(33, 179, 159);
    --light-txt: rgb(33, 179, 159);
}

/* Main theme */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
}

html{
    scroll-padding-top: 75px; 
}

body {
    overflow-x: none;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    background-color: black;
}

button{
    padding: 10px;
    width: 5vw;
    color: var(--main-txt);
    background-color: var(--main);
    border-radius: 25px;
}

button:hover{
    cursor: pointer;
    transition: 0.4s;
    transform: scale(1.1)
}

/* SWITCH */
/* The slider container */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    width: 60px;
    height: 34px;
    border-radius: 34px;    
    border: 0.25vw inset var(--main-txt);
    background-color: var(--main);
    -webkit-transition: .4s;
    transition: .4s;
}

.theme-toggle:hover {
    cursor: pointer;
}

/* The slider */
#slider {
    cursor: pointer;
    transition: .4s;
    border-radius: 50%;
}

#slider:before{
    content: ' ';
    display: inline-block;
    position: relative;
    height: 33px;
    width: 33px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+#slider:before{
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}
/* The two themes */
#slider.dark:before {
    background: url("../Public/Images/moon.svg") no-repeat;
    background-size: contain;
}

#slider.light:before {
    background: url("../Public/Images/sun.svg") no-repeat;
    background-size: contain;
}

/* COMMUN */
.main-content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  minmax(0, 90dvh) minmax(0, 100dvh) minmax(0, 90dvh) minmax(0,80dvh);
    overflow-x: none;
    overflow-y: visible;
}

.containers{
    scroll-snap-align: center;
}
.container{
    padding: 15px 10%;
}

#container-nav{
    padding: 15px 10%;
}

.subtitle{
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}

/* HEADER */
header{
    width: 100%;
    background-color: var(--main-blue);  
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#img-header{
    height: 4rem;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

/* ABOUT ME */
#about{
    padding: 50px;
    color: #ababab;
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-col-1 img{
    height: 550px;
    border-radius: 15px;
    box-shadow: -4px 5px 5px var(--main-blue);
}

.about-col-2{
    padding: 20px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    height: 4px;
    width: 0;
    background-color: var(--main-blue);
    position: absolute;
    left: 0px;
    bottom: -8px;
    transition: 0.5s;
    border-radius: 25px;
}

.tab-links.active::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color:  var(--second-blue);
    font-size: 1.1rem;
}

.tab-contents{
    display: none;
}

.tab-contents.active{
    display: block;
}

/* PROJECTS */
#projects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-list{
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-rows: auto-fit;
    grid-gap: 30px;
    margin-top: 50px;
}

.projects-list img{
    width: 100%;
    border-radius: 15px;
    box-shadow: -4px 5px 5px var(--grey);
}

.project{
    background-color: var(--second-blue);
    padding: 15px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 15px;
}

.project-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.project-title i{
    padding-left: 10px;
}

.project h3{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.project p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.tags{
    text-decoration: none;
    color: white;
    background-color: var(--grey);
    padding: 0.5rem;
    border-radius: 25px;
    font-size: smaller;
    display: inline-block;

}

.tags:hover{
    background-color: black;
    transform: translateY(-5px);
}

/* Services */
#services{
    padding: 30px 0;
    background-color: var(--grey);
    justify-content: center;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(	auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background-color:  black;
    padding: 20px;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 15px;
}

.services-list div i{
    font-size: 35px;
    margin-bottom: 30px;
}

.services-list div h2{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: smaller;
    margin-top: 20px;
    display: inline-block;

}

.services-list div:hover{
    background-color: var(--main-blue);
    transform: translateY(-10px);
}

/* CONTACT */
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-container{
    background-color: var(--second-blue);
    padding: 20px;
    border-radius: 25px;
}

.contact-col-1{
    padding: 15px;
}

.contact-col-1 i{
    font-size: 20px;
    color: white;
    padding: 7px;
}

.contact-col-2 img{
    height: 550px;
    border-radius: 25px;
    box-shadow: -4px 5px 5px var(--grey);
}

/* FOOTER */
footer{
    background-color: var(--grey);
    height: 50px;
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 750px) and (orientation: portrait) { /* mobiles */
    html{
        scroll-padding-top: 35px; 
    }

    body {
        font-size: 1rem;
        overflow-y: visible;
    }

    .main-content{
        grid-template-rows:  100dvh minmax(0, 1fr) minmax(0, 100dvh) minmax(0, 80dvh);
    }

    #container-nav{
        padding: 10px 5%;
    }

    .subtitle{
        font-size: 2rem;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #img-header{
        height: 2.2rem;
    }

    nav ul li{
        margin: 5px 5px;
    }

    nav ul li a{
        font-size: 1rem;
    }

    .projects-list{
        grid-template-columns: repeat(1, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }

    .about-col-1 img{
        height: 300px;
    }

    .tab-links {
        margin-right: 20px;
        font-size: 1.2rem;
    }

    .services-list div i{
        font-size: 25px;
        margin-bottom: 20px;
    }

    .contact-col-1 i{
        font-size: 15px;
        padding: 5px;
    }

    .contact-col-2 img{
        height: 200px;
    }

    .about-col-2{
        padding: 10px;
    }
}

@media only screen and (min-width: 751px) and (max-width: 1200px) { /*les tablette*/
    html{
        scroll-padding-top: 70px; 
    }

    body {
        font-size: 1rem;
        overflow-y: visible;
    }

    .main-content{
        grid-template-rows:  100dvh minmax(0, 1fr) minmax(0, 90dvh) minmax(0, 80dvh);
    }

    .container{
        overflow: visible;
    }

    #container-nav{
        padding: 10px 10%;
    }

    .subtitle{
        font-size: 2.5rem;
    }

    #img-header{
        height: 3rem;
    }

    nav ul li{
        margin: 7px 12px;
    }

    nav ul li a{
        font-size: 1.2rem;
    }

    .projects-list{
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }

    .about-col-1 img{
        height: 350px;
    }

    .tab-links {
        margin-right: 30px;
        font-size: 1.5rem;
    }

    .about-col-2{
        padding: 15px;
    }

    .services-list div i{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .contact-col-1 i{
        font-size: 20px;
        padding: 7px;
    }

    .contact-col-2 img{
        height: 450px;
    }

    .contact-col-2 img{
        height: 350px;
    }
}